pipeline/pl_ingest_visualcrossing_landing_dev_history.json
{
	"name": "pl_ingest_visualcrossing_landing_dev_history",
	"properties": {
		"activities": [
			{
				"name": "web_get_apikey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-atmos-dev-westus2-001.vault.azure.net/secrets/visualcrosssing-api-key-dev/9e86faa3450745a0baab70f80a9ce055?api-version=2025-07-01",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "current_date",
				"description": "@utcnow('yyyy-MM-dd')",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web_get_apikey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_date",
					"value": {
						"value": "@pipeline().parameters.startDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "until_dates",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "current_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(variables('current_date'), pipeline().parameters.endDate)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_visualcrossing_to_landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_json_visualcrossing_src_dev",
									"type": "DatasetReference",
									"parameters": {
										"city": {
											"value": "@pipeline().parameters.city",
											"type": "Expression"
										},
										"date": {
											"value": "@variables('current_date')",
											"type": "Expression"
										},
										"apiKey": {
											"value": "@activity('web_get_apikey').output.value",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_json_visualcrossing_landing_dev",
									"type": "DatasetReference",
									"parameters": {
										"city": {
											"value": "@pipeline().parameters.city",
											"type": "Expression"
										},
										"date": {
											"value": "@variables('current_date')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@toLower(concat('atmos_', pipeline().parameters.city, '_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.json'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "adding_data",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "copy_visualcrossing_to_landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "add_data",
								"value": {
									"value": "@formatDateTime(adddays(variables('current_date'), 1), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set_current_date_next",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "adding_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current_date",
								"value": {
									"value": "@variables('add_data')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"city": {
				"type": "string"
			},
			"startDate": {
				"type": "string"
			},
			"endDate": {
				"type": "string"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"current_date": {
				"type": "String"
			},
			"add_data": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VisualCrossing"
		},
		"annotations": []
	}
}