pipeline/pl_ingest_visualcrossing_landing_dev_daily.json
{
	"name": "pl_ingest_visualcrossing_landing_dev_daily",
	"properties": {
		"activities": [
			{
				"name": "copy_visualcrossing_to_landing",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "current_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_json_visualcrossing_src_dev",
						"type": "DatasetReference",
						"parameters": {
							"city": {
								"value": "@pipeline().parameters.city",
								"type": "Expression"
							},
							"date": {
								"value": "@variables('date')",
								"type": "Expression"
							},
							"apiKey": {
								"value": "@activity('web_get_apikey').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_json_visualcrossing_landing_dev",
						"type": "DatasetReference",
						"parameters": {
							"city": {
								"value": "@pipeline().parameters.city",
								"type": "Expression"
							},
							"date": {
								"value": "@variables('date')",
								"type": "Expression"
							},
							"file_name": {
								"value": "@toLower(concat('atmos_', pipeline().parameters.city, '_', formatDateTime(utcNow(), 'yyyyMMddHHmmss'), '.json'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "web_get_apikey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-atmos-dev-westus2-001.vault.azure.net/secrets/visualcrosssing-api-key-dev/9e86faa3450745a0baab70f80a9ce055?api-version=2025-07-01",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "current_date",
				"description": "@utcnow('yyyy-MM-dd')",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "web_get_apikey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "date",
					"value": ""
				}
			}
		],
		"parameters": {
			"city": {
				"type": "string"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VisualCrossing"
		},
		"annotations": []
	}
}